<div class="container">
    <br />
    <h5>{{ subTitulo }}</h5>
    <app-mensagem [success]="this.success" [message]="this.message"></app-mensagem>

    <div class="row">
        <div class="col s11"></div>
        <div class="col s1">
            <a routerLink="/lista">
                <img src="assets\images\plus.png" height="50" />
            </a>
        </div>
    </div>

    <table *ngIf="!listas || listas!.length > 0">
        <thead>
            <tr>
                <th>id</th>
                <th>Nome Lista</th>
                <th>Comandos</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let l of listas">
                <td>{{ l.id }}</td>
                <td>{{ l.nome | uppercase }}</td>
                <td>
                    <a [routerLink]="['/lista']" [queryParams]="{ id: l.id }"><img src="assets\images\editar.png" height="24" /></a>&nbsp; &nbsp;&nbsp;
                    <a (click)="onDelete(l)"><img src="assets\images\excluir.png" height="24" /></a>&nbsp; &nbsp;&nbsp;
                    <a [routerLink]="['/listas/checklist', l.id]"><img src="assets\images\checklist.png" height="24" /></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
