<br />
<br />
<div class="row">
  <div class="col s1"></div>
  <div class="col s4"><img src="assets\images\home.jpg" height="250" /></div>
  <div class="col s7">
    <div class="row">
      <h5>BEM VINDO AO LISTA DE MERCADO - NÃO ESQUECE NADA</h5>
    </div>
    <div class="row">
      <h6>
        Gerencie suas listas de mercado, adicionando os produtos que deseja
        comprar.
      </h6>
    </div>
    <div class="row">
      <h6>
        No Momento da compra basta abrir essa lista e ir dando baixa nos
        produtos que colocar no carrinho .
      </h6>
    </div>
  </div>
</div>
